<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
  <add name="SpreadsheetConnectionString1" connectionString="Data Source=kaurep59lr.database.windows.net;Initial Catalog=Spreadsheet;User ID=adminCase;Password=Admin123456"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10485760"/>
      </webServices>
    </scripting>
  </system.web.extensions>
	<system.web>
    <customErrors mode="Off"/>
    <!--
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>    
      -->

    <roleManager enabled="true"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<!-- fix error when call HiggenField "<pages validateRequest="false">" -->
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  <behaviors>
   <serviceBehaviors>
    <behavior name="Spreadsheet.ServicesBehavior">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
		<services>
			<service behaviorConfiguration="Spreadsheet.ServicesBehavior" name="Spreadsheet.Services">
				<endpoint address="" binding="wsHttpBinding" contract="Spreadsheet.IXMLService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
